.grille{
    background-color: #F6F6F6;
    display:flex;
    flex-wrap: wrap;
    gap : 2rem;
    min-height: 65vh;
    border-radius: 25px;
    padding: 2rem;
    justify-content: space-between;
}

@media screen and (width <=  768px){
    .grille{
        flex-basis: 100%;
        margin-bottom: 1rem;
        justify-content: center;
        background-color: white;
        padding: 0;
        
    }
}



