.location{
    background-color: #FF6060;
    border-radius: 10px;
    flex-basis: 30%;
    display: flex;
    align-items: flex-end;
    background: linear-gradient(180deg, #FF6060 0%, rgba(0, 0, 0, 0.9) 250%);
    min-width: 200px;
    min-height: 200px;

}
@media screen and (width <=  590px){
    .location{
        justify-content: center;
        min-width: 100%;
        
    }
}
.titreGrille{
    width: 50%;
    margin-block-end: 0.5rem;
    margin-inline-start: 0.5rem;
    color: white;
    font-size: 1.1rem;
}
