.navbar{
    display: flex;
    align-items: center;
    padding: 0 2rem;
    color: #ff6060;
    font-weight: 700;
    gap : 3rem;
    
}
.navbar a{
    color: #FF6060;
    text-decoration: none;
}
.navbar a:hover{
    text-decoration: underline;
}
.navbar a.active{
    text-decoration: underline;
}
.navbar_logo{
    margin-right: auto;
}
